{% extends "layout.html" %}

{% block title %}
  Bukrev
{% endblock %}

{% block dropdown %}
  <div class="dropdown">
    <button type="button" name="button" class="btn" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{url_for('static', filename='Images/profile.png')}}" width="25" height="25" id="profile-img">
      Profile
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-btn">
      <a class="dropdown-item" href="{{url_for('log_out')}}">Log out</a>
    </div>
  </div>
{% endblock %}

{% block main_body %}
  <div class="container mt-4 position-relative">
    <img src="{{url_for('static', filename='Images/book-ex.png')}}" class="mr-3 mt-2" width="170" height="210" alt="">
    <div class="d-inline-flex flex-column position-absolute book-info">
      <span class="book-title-main">{{info[1]}}</span>
      <span class="book-author-main">by {{info[2]}}</span>
      <span class="mt-2 mt-sm-3">isbn: {{info[0]}}</span>
      <span>Publish year: {{info[3]}}</span>
      <span class="mt-3 mt-sm-5">
        {% for i in range(info[6]) %}
          <span class="fa fa-star checked"></span>
        {% endfor %}
        {% for i in range(5 - info[6]) %}
          <span class="fa fa-star"></span>
        {% endfor %}
        {{info[4]}} from {{info[5]}} ratings
        by <img src="{{url_for('static', filename='Images/goodreads.png')}}" alt="" width="25" height="25"> goodreads
      </span>
    </div>
  </div>
{% endblock %}
<!doctype html>
