{% extends "layout.html" %}

{% block title %}
  Bukrev
{% endblock %}

{% block dropdown %}
  <div class="dropdown">
    <button type="button" name="button" class="btn" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{url_for('static', filename='Images/profile.png')}}" width="25" height="25" id="profile-img">
      Profile
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-btn">
      <a class="dropdown-item" href="{{url_for('log_out')}}">Log out</a>
    </div>
  </div>
{% endblock %}

{% block main_body %}
  <div class="container">
    <div class="row">
      <form class="input-group mb-3 col-11 mx-auto mt-4" id="search" action="{{url_for('search')}}" method="get">
        <div class="form-group input-icons">
          <a onclick="document.getElementById('search').submit(); return false;"><i class="fas fa-search icon"></i></a>
          <input type="text" class="form-control input-field" name="keyword" aria-describedby="" placeholder="Search books by title, author or isbn ..." required>
        </div>
      </form>
    </div>
    <div class="books container">
      {% if result != "home" %}
        {% for r in result %}
          <div class="book-result mx-auto my-5 pl-lg-4 pl-sm-2">
            <img src="{{url_for('static', filename='Images/book-ex.png')}}" class="mr-3" width="70" height="85" alt="">
            <span class="book-title">{{ r[1] }}</span>
            <span class="book-author">by {{ r[2] }}</span>
            <a href="{{url_for('book')}}"><button type="button" name="button" class="btn view-btn">View book</button></a>
          </div>
        {% else %}
          <h3 class="mx-auto my-5 pl-lg-4 pl-sm-2">No results</h3>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
