{% extends "sign-in-layout.html" %}

{% block title %}
  Log in
{% endblock %}

{% block head %}
  <h4 style="font-weight: bold;" class="text-center">Log in to Bukrev</h4>
{% endblock %}

{% block form %}
  <form class="m-5" action="{{url_for('login_check')}}" method="post">
{% endblock %}

{% block main_body %}
  <div class="form-group man-input-group">
    <label for="username" class="m-0 man-label">Username</label>
    <input type="" class="man-input d-block" name="username" id="" placeholder="">
  </div>
  <div class="form-group man-input-group">
    <label for="password" class="m-0 man-label">Password</label>
    <input type="password" class="man-input d-block" name="password" id="" placeholder="">
  </div>
  <button class="btn submit-btn" type="submit">Log in</button>
  </form>
  <div class="m-5">
  Don't have an account?
  <a href="{{url_for('signup')}}">Sign up</a>
  </div>
{% endblock %}
