<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='Styles/style.css')}}">

    <link rel="icon" href="{{url_for('static', filename='Images/book.png')}}">

    <title>Sign up</title>
  </head>
  <body>
    <div class="man-form mx-auto">
      <a class="" href="{{url_for('index')}}">
      <img src="{{url_for('static', filename='Images/book.png')}}" class="mx-auto d-block mt-3" width="60" height="60">
      </a>
      <form class="m-5" action="{{url_for('submit')}}" method="post">
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        <h4 style="font-weight: bold;" class="mb-3 d-block">Create your account</h4>
        <div class="form-group man-input-group">
          <label for="username" class="m-0 man-label">Username</label>
          <input type="" class="man-input d-block" name="username" id="username" placeholder="">
        </div>
        <div class="form-group man-input-group">
          <label for="password" class="m-0 man-label">Password</label>
          <input type="password" class="man-input d-block" id="" name="password" placeholder="">
        </div>
        <div class="form-group man-input-group">
          <label for="email" class="m-0 man-label">Confirm password</label>
          <input type="password" class="man-input d-block" name="confirm" id="" placeholder="">
        </div>
        <button class="btn submit-btn" type="submit">Sign up</button>
      </form>
      <div class="m-5">
        Already have an account?
        <a href="{{url_for('login')}}">Log in</a>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
